<a href="https://colab.research.google.com/github/CaroBrambila/Actividad1/blob/main/M1_Actividad_2_(Preparaci%C3%B3n_de_la_base_de_Datos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Cargar los archivos CSV
df_mexico = pd.read_csv("Mexico.csv")
df_australia = pd.read_csv("Australia.csv")
df_buenos_aires = pd.read_csv("Buenos Aires.csv")

In [3]:
#Verificamos información del DataFrame
df_mexico.info()
df_australia.info()
df_buenos_aires

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              26536 non-null  int64
 1   name                            26536 non-null  object
 2   host_id                         26536 non-null  int64
 3   host_name                       26536 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   26536 non-null  object
 6   latitude                        26536 non-null  float64
 7   longitude                       26536 non-null  float64
 8   room_type                       26536 non-null  object
 9   price                           23338 non-null  float64
 10  minimum_nights                  26536 non-null  int64
 11  number_of_reviews               26536 non-null  int64
 12  last_review                     22664 non-null  object
 13  reviews_per_month               22664 non-null  float64
 14  calculated_host_listings_count  26536 non-null  int64
 15  availability_365                26536 non-null  int64
 16  number_of_reviews_ltm           26536 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 3.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4834 entries, 0 to 4833
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              4834 non-null   int64
 1   name                            4834 non-null   object
 2   host_id                         4834 non-null   int64
 3   host_name                       4834 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   4834 non-null   object
 6   latitude                        4834 non-null   float64
 7   longitude                       4834 non-null   float64
 8   room_type                       4834 non-null   object
 9   price                           4614 non-null   float64
 10  minimum_nights                  4834 non-null   int64
 11  number_of_reviews               4834 non-null   int64
 12  last_review                     4276 non-null   object
 13  reviews_per_month               4276 non-null   float64
 14  calculated_host_listings_count  4834 non-null   int64
 15  availability_365                4834 non-null   int64
 16  number_of_reviews_ltm           4834 non-null   int64
 17  license                         4755 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 679.9+ KB

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,11508,Amazing Luxurious Apt-Palermo Soho,42762,Candela,NaN,Palermo,-34.581840,-58.424150,Entire home/apt,60390.0,3,42,2024-07-28,0.28,1,276,6,NaN
1,14222,"RELAX IN HAPPY HOUSE - PALERMO, BUENOS AIRES",87710233,María,NaN,Palermo,-34.586170,-58.410360,Entire home/apt,37001.0,7,120,2024-07-07,0.81,7,37,10,NaN
2,15074,ROOM WITH RIVER SIGHT,59338,Monica,NaN,Nuñez,-34.538920,-58.465990,Private room,NaN,29,0,NaN,NaN,1,0,0,NaN
3,96490,AMPLIA habitación individual en Buenos Aires,512049,Cristina,NaN,Palermo,-34.585030,-58.412060,Private room,8000.0,7,1,2023-01-15,0.05,2,352,0,NaN
4,16695,DUPLEX LOFT 2 - SAN TELMO,64880,Elbio Mariano,NaN,Monserrat,-34.614390,-58.376110,Entire home/apt,47275.0,2,45,2019-11-30,0.27,9,238,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36802,1229850667204739570,Maipu II Apartament Premiun,139740485,Edgardo Alfredo,NaN,Retiro,-34.598654,-58.376981,Entire home/apt,24423.0,3,0,NaN,NaN,6,176,0,NaN
36803,1229856590380024491,Disfruta de una hermosa terraza privada,201402350,Yael Vanina,NaN,Recoleta,-34.592317,-58.398333,Entire home/apt,18910.0,60,0,NaN,NaN,73,365,0,NaN
36804,1229879123121211983,Enjoy an apartment with the amenities of 5* Hotel,879081,Emiliana,NaN,Palermo,-34.572590,-58.440529,Entire home/apt,37820.0,4,0,NaN,NaN,11,180,0,NaN
36805,1229928590518388653,Hermoso Penthouse en Palermo Hollywood,14450833,Alejandro,NaN,Palermo,-34.579028,-58.432362,Entire home/apt,31476.0,1,0,NaN,NaN,22,362,0,NaN
36806,1229975876016573624,25%OFF Beautiful Apartment in Palermo Soho O32,14450833,Alejandro,NaN,Palermo,-34.579860,-58.426150,Entire home/apt,62810.0,1,0,NaN,NaN,22,362,0,NaN

In [6]:
df_mexico.dropna(subset=['price', 'latitude', 'longitude'], inplace=True)
df_australia.dropna(subset=['price', 'latitude', 'longitude'], inplace=True)
df_buenos_aires.dropna(subset=['price', 'latitude', 'longitude'], inplace=True)

In [10]:
# Imputación de valores faltantes con la mediana
df_mexico['reviews_per_month'].fillna(df_mexico['reviews_per_month'].median(), inplace=True)
df_mexico['number_of_reviews'].fillna(df_mexico['number_of_reviews'].median(), inplace=True)

df_australia['reviews_per_month'].fillna(df_australia['reviews_per_month'].median(), inplace=True)
df_australia['number_of_reviews'].fillna(df_australia['number_of_reviews'].median(), inplace=True)

df_buenos_aires['reviews_per_month'].fillna(df_buenos_aires['reviews_per_month'].median(), inplace=True)
df_buenos_aires['number_of_reviews'].fillna(df_buenos_aires['number_of_reviews'].median(), inplace=True)

In [12]:
# Eliminar columnas con más del 50% de valores nulos
threshold = len(df_mexico) * 0.5
df_mexico.dropna(thresh=threshold, axis=1, inplace=True)

threshold = len(df_australia) * 0.5
df_australia.dropna(thresh=threshold, axis=1, inplace=True)

threshold = len(df_buenos_aires) * 0.5
df_buenos_aires.dropna(thresh=threshold, axis=1, inplace=True)

In [13]:
# Calcular los cuartiles y el IQR para la columna 'price'
Q1 = df_mexico['price'].quantile(0.25)
Q3 = df_mexico['price'].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites superior e inferior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Filtrar los outliers fuera de los límites
df_mexico = df_mexico[(df_mexico['price'] >= lower_limit) & (df_mexico['price'] <= upper_limit)]

In [15]:
# Calcular la desviación estándar
mean_nights = df_mexico['minimum_nights'].mean()
std_nights = df_mexico['minimum_nights'].std()

# Definir los límites basados en la desviación estándar
upper_limit_nights = mean_nights + 3 * std_nights

# Reemplazar valores mayores al límite superior con el valor máximo permitido
df_mexico['minimum_nights'] = np.where(df_mexico['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_mexico['minimum_nights'])

<ipython-input-15-b1bbb8cf4b1f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mexico['minimum_nights'] = np.where(df_mexico['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_mexico['minimum_nights'])

In [16]:
# Calcular el percentil 99
percentile_99 = df_mexico['number_of_reviews'].quantile(0.99)

# Filtrar los outliers que exceden el percentil 99
df_mexico = df_mexico[df_mexico['number_of_reviews'] <= percentile_99]

In [17]:
# Guardar el archivo CSV procesado
df_mexico.to_csv("Mexico_procesado.csv", index=False)

In [19]:
def preprocesar(df_australia, Australia):
    print(f"Información de {Australia}:")
    df_australia.info()

    # Eliminar filas con valores nulos en 'price', 'latitude' y 'longitude'
    df_australia.dropna(subset=['price', 'latitude', 'longitude'], inplace=True)

    # Imputación de valores faltantes con la mediana
    df_australia['reviews_per_month'].fillna(df_australia['reviews_per_month'].median(), inplace=True)
    df_australia['number_of_reviews'].fillna(df_australia['number_of_reviews'].median(), inplace=True)

    # Eliminar columnas con más del 50% de valores nulos
    threshold = len(df_australia) * 0.5
    df_australia.dropna(thresh=threshold, axis=1, inplace=True)

    # Manejo de outliers usando IQR para 'price'
    Q1 = df_australia['price'].quantile(0.25)
    Q3 = df_australia['price'].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    df_australia = df_australia[(df_australia['price'] >= lower_limit) & (df_australia['price'] <= upper_limit)]

    # Manejo de outliers usando desviación estándar para 'minimum_nights'
    mean_nights = df_australia['minimum_nights'].mean()
    std_nights = df_australia['minimum_nights'].std()
    upper_limit_nights = mean_nights + 3 * std_nights
    df_australia['minimum_nights'] = np.where(df_australia['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_australia['minimum_nights'])

    # Manejo de outliers usando percentil 99 para 'number_of_reviews'
    percentile_99 = df_australia['number_of_reviews'].quantile(0.99)
    df_australia = df_australia[df_australia['number_of_reviews'] <= percentile_99]

    # Guardar el archivo procesado
    df_australia.to_csv(f"{Australia}_procesado.csv", index=False)
    return df_australia

In [24]:
def preprocesar(df_buenos_aires, ciudad):
    print(f"Información de {ciudad}:")
    df_buenos_aires.info()

    # Eliminar filas con valores nulos en 'price', 'latitude' y 'longitude'
    df_buenos_aires.dropna(subset=['price', 'latitude', 'longitude'], inplace=True)

    # Imputación de valores faltantes con la mediana
    df_buenos_aires['reviews_per_month'].fillna(df_buenos_aires['reviews_per_month'].median(), inplace=True)
    df_buenos_aires['number_of_reviews'].fillna(df_buenos_aires['number_of_reviews'].median(), inplace=True)

    # Eliminar columnas con más del 50% de valores nulos
    threshold = len(df_buenos_aires) * 0.5
    df_buenos_aires.dropna(thresh=threshold, axis=1, inplace=True)

    # Manejo de outliers usando IQR para 'price'
    Q1 = df_buenos_aires['price'].quantile(0.25)
    Q3 = df_buenos_aires['price'].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    df_buenos_aires = df_buenos_aires[(df_buenos_aires['price'] >= lower_limit) & (df_buenos_aires['price'] <= upper_limit)]

    # Manejo de outliers usando desviación estándar para 'minimum_nights'
    mean_nights = df_buenos_aires['minimum_nights'].mean()
    std_nights = df_buenos_aires['minimum_nights'].std()
    upper_limit_nights = mean_nights + 3 * std_nights
    df_buenos_aires['minimum_nights'] = np.where(df_buenos_aires['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_buenos_aires['minimum_nights'])

    # Manejo de outliers usando percentil 99 para 'number_of_reviews'
    percentile_99 = df_buenos_aires['number_of_reviews'].quantile(0.99)
    df_buenos_aires = df_buenos_aires[df_buenos_aires['number_of_reviews'] <= percentile_99]

    # Guardar el archivo procesado
    df_buenos_aires.to_csv(f"{ciudad}_procesado.csv", index=False)

    return df_buenos_aires

# Cargar los archivos CSV
df_mexico = pd.read_csv("Mexico.csv")
df_australia = pd.read_csv("Australia.csv")
df_buenos_aires = pd.read_csv("Buenos Aires.csv")

# Aplicar pre-procesamiento a los tres DataFrames
df_mexico = preprocesar(df_mexico, "Mexico")
df_australia = preprocesar(df_australia, "Australia")
df_buenos_aires = preprocesar(df_buenos_aires, "Buenos_Aires")

Información de Mexico:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              26536 non-null  int64
 1   name                            26536 non-null  object
 2   host_id                         26536 non-null  int64
 3   host_name                       26536 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   26536 non-null  object
 6   latitude                        26536 non-null  float64
 7   longitude                       26536 non-null  float64
 8   room_type                       26536 non-null  object
 9   price                           23338 non-null  float64
 10  minimum_nights                  26536 non-null  int64
 11  number_of_reviews               26536 non-null  int64
 12  last_review                     22664 non-null  object
 13  reviews_per_month               22664 non-null  float64
 14  calculated_host_listings_count  26536 non-null  int64
 15  availability_365                26536 non-null  int64
 16  number_of_reviews_ltm           26536 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 3.6+ MB

<ipython-input-24-5bda41e0e930>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buenos_aires['minimum_nights'] = np.where(df_buenos_aires['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_buenos_aires['minimum_nights'])

Información de Australia:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4834 entries, 0 to 4833
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              4834 non-null   int64
 1   name                            4834 non-null   object
 2   host_id                         4834 non-null   int64
 3   host_name                       4834 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   4834 non-null   object
 6   latitude                        4834 non-null   float64
 7   longitude                       4834 non-null   float64
 8   room_type                       4834 non-null   object
 9   price                           4614 non-null   float64
 10  minimum_nights                  4834 non-null   int64
 11  number_of_reviews               4834 non-null   int64
 12  last_review                     4276 non-null   object
 13  reviews_per_month               4276 non-null   float64
 14  calculated_host_listings_count  4834 non-null   int64
 15  availability_365                4834 non-null   int64
 16  number_of_reviews_ltm           4834 non-null   int64
 17  license                         4755 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 679.9+ KB
Información de Buenos_Aires:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36807 entries, 0 to 36806
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36807 non-null  int64
 1   name                            36807 non-null  object
 2   host_id                         36807 non-null  int64
 3   host_name                       36807 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   36807 non-null  object
 6   latitude                        36807 non-null  float64
 7   longitude                       36807 non-null  float64
 8   room_type                       36807 non-null  object
 9   price                           33851 non-null  float64
 10  minimum_nights                  36807 non-null  int64
 11  number_of_reviews               36807 non-null  int64
 12  last_review                     29828 non-null  object
 13  reviews_per_month               29828 non-null  float64
 14  calculated_host_listings_count  36807 non-null  int64
 15  availability_365                36807 non-null  int64
 16  number_of_reviews_ltm           36807 non-null  int64
 17  license                         427 non-null    object
dtypes: float64(5), int64(7), object(6)
memory usage: 5.1+ MB

<ipython-input-24-5bda41e0e930>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buenos_aires['minimum_nights'] = np.where(df_buenos_aires['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_buenos_aires['minimum_nights'])
<ipython-input-24-5bda41e0e930>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_buenos_aires['minimum_nights'] = np.where(df_buenos_aires['minimum_nights'] > upper_limit_nights, upper_limit_nights, df_buenos_aires['minimum_nights'])